
@{
    ViewBag.Title = "StudentDashboardLayout";
}
<!doctype html>
<html lang="en">
<head>
    <title>Student Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<link rel="stylesheet" href="css/style.css">*@
    <link href="~/Content/ExCss/DashboardStyle.css" rel="stylesheet" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <style type="text/css">
        #loader {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background: rgba(0,0,0,0.75) url('../../assets/img/loading_small.gif') no-repeat center center;
            z-index: 10000;
        }
    </style>
</head>
<body style="overflow-x:hidden;">
    <div class="row fixed-top">
        <div class="col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top mb-0">
                <div class="container">
                    <a class="navbar-brand" href="#">Attendance Portal</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#" class="img logo rounded-circle mb-3" style="background-image: url('/assets/img/comments-4.jpg');"></a>
                @{
                    if (Session["RoleType"].ToString() == "2")
                    {
                        <p class="text-center" style="font-size:18px;">Welcome @Session["RoleName"].ToString()</p>
                    }
                }

            <ul class="list-unstyled components mb-5">
                @*<li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li>*@
                <li class="active">
                    <a href="/Account/Login" class="text-center">Home</a>
                </li>
                <li>
                    <a href="/Student/Attendance" class="text-center">Attendance</a>
                </li>
                
                <li>
                    <a href="#" class="text-center">Complain</a>
                </li>
                <li>
                    <a href="#" class="text-center">Leave</a>
                </li>

                <li>
                    <a href="#" class="text-center">Attendance Report</a>
                </li>
                <li>
                    <a href="#" class="text-center">Feed Back</a>
                </li>
                <li>
                    <a href="/Account/Logout" class="text-center">Logout</a>
                </li>
            </ul>

                <div class="footer">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This portal is made <i class="icon-heart" aria-hidden="true"></i> by <a href="https://sagar@gmail.com" target="_blank">Sagar.com</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">My Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Change Password</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Account/Logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container">
                <div class="row-fluid">
                    @RenderBody();
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/js/popper.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/ExJS/main.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <div id="loader"></div>
    <script>
        var spinner = $('#loader');

        function GetLoading() {
            $('#loader').show();
        }
        function waitcomplete() {
            $('#loader').hide();
        }
    </script>
</body>
</html>

