@model AttendanceManagementSystem.Models.AdminCommonClass
@{
    ViewBag.Title = "AdminDashboardCard";
    Layout = "~/Views/Shared/AdminDashboardLayout.cshtml";
}

    <script>
     $(document).ready(function () {
        alert("@ViewBag.Image");
       
    });
    </script>
<h2>AdminDashboardCard</h2>
<div>
   
    @*@foreach (var file in ViewBag.Image)
    {
    <img src="~/UploadedFiles/Staff/@Path.GetFileName(file)" />
    }*@
         
</div>
