@model AttendanceManagementSystem.Models.User
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/AdminDashboardLayout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@if (Model.IsReturn== "True")
{
    <script>
        $(document).ready(function () {
            //alert("hii");
            alert("Password Change Successfully.....");
            window.location.href = "/Account/Login";

        });
    </script>
}


<div class="card" style="box-shadow: 0 1px 4px rgb(0 0 0 / 30%), 0 0 40px rgb(0 0 0 / 10%) inset;">
    <div class="card-header"><center><h2>Add Staff Details</h2></center></div>

    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-3"><label style="font-size:large">Username</label> <r style="color:red">*</r> </div>
                <div class="col-sm-3">
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @readonly = true })
                </div>
                <div class="col-sm-2"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-3"><label style="font-size:large">Change Password</label> <r style="color:red">*</r> </div>
                <div class="col-sm-3">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Change password..." })
                </div>
                <div class="col-sm-2"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-3"><label style="font-size:large">Confirm Password</label> <r style="color:red">*</r> </div>
                <div class="col-sm-3">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password...",@onchange= "CheckConfirmPassword()" })
                </div>
                <div class="col-sm-2"></div>
            </div>

            <br />
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-center">
                    @*<input type="button" class="btn btn-info" value="Update" style="width:50%;display:none" onclick="ValidationStandard('ForUpdate')" id="updatebtn" />*@

                    <input type="button" class="btn btn-success" value="Change Password" style="width:55%" onclick="ChangePasword()" id="chngbtn" />
                </div>
                <div class="col-sm-4"></div>

            </div>
        }

    </div>
</div>
<script>
    function CheckConfirmPassword() {
        debugger

        if ($('#ConfirmPassword').val() != $('#Password').val()) {
            swal("Confirm Password Does Not Match....");
            $('#ConfirmPassword').val('');
            $('#ConfirmPassword').focus();
        }

    }

    function ChangePasword() {
        debugger

        if ($('#Username').val() == "" || $('#Username').val() == undefined) {
            alert("Please enter username....");
            $('#Username').focus();
            return false;
        }
        if ($('#Password').val() == "" || $('#Password').val() == undefined) {
            alert("Please enter password....");
            $('#Password').focus();
            return false;
        }
        if ($('#ConfirmPassword').val() == "" || $('#ConfirmPassword').val() == undefined) {
            alert("Please enter confirm password....");
            $('#ConfirmPassword').focus();
            return false;
        }
        if (CheckConfirmPassword()) {
            return false;
        }
        else {
            GetLoading();
            $('#chngbtn').attr('type', 'submit');
        }
    }
</script>